@theme {
  --color-primary: rgb(0, 100, 200);
  --color-primary-hover: rgb(0, 82, 164);
  --color-primary-active: rgb(0, 60, 120);
}

@theme {
  --color-default: rgb(51, 51, 51);
  --color-default-hover: rgb(61, 61, 61);
  --color-default-active: rgb(41, 41, 41);
}

@theme {
  --color-border-default: rgb(233, 233, 233);
}

@theme {
  --color-disabled-text: rgb(204, 204, 204);
  --color-disabled-bg: rgb(247, 249, 250);
  --color-disabled-border: rgb(192, 198, 204);
}

@theme {
  --shadow-sm: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
  --shadow-md: 0 2px 4px 0 rgb(0 0 0 / 16%), 0 4px 8px 0 rgb(0 0 0 / 8%);
  --shadow-lg: rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;

  --shadow-active: var(--shadow-md);
}
